# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
public/capybara_test_assets
config/database.yml
config/secrets.yml

# Ignore ruby-version
.ruby-version
